@model DataModelsFramework.Song

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Bent u zeker dat u deze song wilt verwijderen</h3>
<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Naam")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>

        <dt>
            @Html.DisplayName("Lengte")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lenght)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bpm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bpm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayName("Release datum")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongReleaseDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar de lijst", "Index")
        </div>
    }
</div>
