@model IEnumerable<DataModelsFramework.Song>

@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lenght)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bpm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongReleaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lenght)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bpm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongReleaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongId })
        </td>
    </tr>
}

</table>
