@model DataModelsFramework.Artist

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Bent u zeker dat u deze artiest wilt verwijderen?</h3>
<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Naam")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            @Html.DisplayName("Geboren in")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornAt)
        </dd>

        <dt>
            @Html.DisplayName("Geboren op")
        </dt>

        <dd>
            @(Model.BornOn?.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            @Html.DisplayName("Nationaliteit")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar de lijst", "Index")
        </div>
    }
</div>
