@model DataModelsFramework.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artiest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Naam")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            @Html.DisplayName("Geboren in")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornAt)
        </dd>

        <dt>
            @Html.DisplayName("Geboren op")
        </dt>

        <dd>
            @(Model.BornOn?.ToString("dd/MM/yyyy"))
        </dd>

        <dt>
            @Html.DisplayName("Nationaliteit")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

    </dl>
</div>

<div>
    <div>
        <h5><u><b>Songs</b></u></h5>
        @foreach (var song in Model.SongArtists)
        {
            @song.Song.SongName.ToString()
            <br />
        }
        <br />
    </div>
</div>
<p>
    @Html.ActionLink("Bewerk", "Edit", new { id = Model.ArtistId }) |
    @Html.ActionLink("Terug naar de lijst", "Index")
</p>
