@model DataModelsFramework.Album

@{
    ViewBag.Title = "Detail";
}

<div>
    <h4>@Html.DisplayFor(model => model.AlbumName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Release datum")
        </dt>

        <dd>
            @(Model.AlbumReleaseDate?.ToString("dd/MM/yyyy"))
        </dd>

    </dl>
</div>
<div>
    <h5><u><b>Songs</b></u></h5>
    @Html.ActionLink("Voeg songs toe", "AddSong", new { id = Model.AlbumId })
    <br />
    @foreach (var song in Model.SongAlbums)
    {
        @song.AlbumSequenceNumber.ToString() <text>&nbsp;</text>
        @song.Song.SongName.ToString() @Html.ActionLink("Verwijder van album", "DeleteSong", new { songId = song.SongId, albumId = song.AlbumId})
        <br />
    }
    <br />
</div>
<br/>
<p>
    @Html.ActionLink("Bewerk", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Terug naar de lijst", "Index")
</p>
